extends base 

block content 
    div.container-fluid.about
        section.about#about
            div.max-width
                h2.title.text-center About Us
                h6.title.text-center -who we are-
                .about-content
                    .column.left
                        img(src="img/vul-logo.png", alt="logo")
                    .column.right
                        p Our team is made up of computer science majors who are not only well-versed in the intricacies of coding and development but are also creative thinkers. We understand the importance of blending technology with artistic design, and our diverse skills allow us to create websites, apps, and digital solutions that are both functional and aesthetically pleasing.

    div.container-fluid.team
        h2.title.text-center Our team
        div.row.text-center
            div.col-sm-3.mb-3.mb-sm-0
                div.card
                    div.card-body
                        h5.card-title Special title treatment
                        p.card-text With supporting text below as a natural lead-in to additional content.
                        a.btn.btn-primary(href="#") Go somewhere
            div.col-sm-3
                div.card
                    div.card-body
                        h5.card-title Special title treatment
                        p.card-text With supporting text below as a natural lead-in to additional content.
                        a.btn.btn-primary(href="#") Go somewhere
            div.col-sm-3
                div.card
                    div.card-body
                        h5.card-title Special title treatment
                        p.card-text With supporting text below as a natural lead-in to additional content.
                        a.btn.btn-primary(href="#") Go somewhere