extends base 

block content 
    div.container-fluid.output
        div.card
            div.card-header Scan Results
            div.card-body
                h5.card-title Here you go...
                p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vel dolor repellendus! Itaque nihil dicta repellat libero a reprehenderit sapiente qui labore, voluptate nostrum, sunt veritatis quis veniam fuga aut?
                a.btn.btn-success(href="#") Download Report